@using Blazor.Models
@page "/basket"

<PageTitle>Customer Basket</PageTitle>
<link rel="stylesheet" href="/css/BasketPage.css" />

<main id="basket-page">
    <nav>
        <span>
            <input type="text" id="search-input" placeholder="Search for products..."
                @oninput="args => SearchDatabase(args)" @bind-value="_nameFilter">
        </span>
        <button class="button blue" @onclick="ToggleBasket">Basket</button>
    </nav>

    <div class="page">
        <div class="center">
            <div class="title">
                <h1>Blazor Products Shop Inc.</h1>
                @if (_nameFilter != "" && _nameFilter != null)
                {
                    <span>Results for: @_nameFilter</span>
                }
            </div>



            @if (_products.Count > 0)
            {
                <div class="shop-grid">
                    @foreach (Product product in _products)
                    {
                        <div class="shop-item">
                            <p>
                                <span class="name">@product.Name</span>
                                <span class="price">@($"£{product.Price.ToString("0.00")}")</span>
                            </p>
                            @if (product.Description != "")
                            {
                                <p class="desc">@product.Description</p>
                            }

                            <button class="button blue" @onclick="() => AddToBasket(product)">Add To Basket</button>
                        </div>
                    }
                </div>

                <label for="add-amount">Amount to add: </label> <input type="number" id="add-amount"
                @bind-value="_newItemAmount" min="1">
            }
            else
            {
                <p>No products found. Maybe try searching for something else?</p>
            }
        </div>

        <div class="basket @_basketCss">
            <div class="title">
                <h1>Your Basket</h1>
            </div>

            <p>Total price: @_basket.TotalPrice</p>

            <div class="basket-items">
                @foreach (BasketItem item in _basketItems)
                {
                    <div class="basket-item">
                        <p class="title">
                            <span class="name">@item.Product.Name</span>
                            <span>@($"£{item.Product.Price.ToString("0.00")}")</span>
                            <span>@item.Quantity</span>
                        </p>

                        @if (item.Product.Description != "")
                        {
                            <p class="desc">@item.Product.Description</p>
                        }

                        <div class="button blue">
                            <button @onclick="() => RemoveAmount(item, item.RemoveAmount)">Remove </button>
                            <input type="number" min="1" max="@item.Quantity" @bind-value="item.RemoveAmount">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</main>
