@using Blazor.Models
@page "/basket"

<PageTitle>Customer Basket</PageTitle>
<link rel="stylesheet" href="/css/BasketPage.css" />

<main id="basket-page">
    <nav>
        <span>
            <input type="text" id="search-input" placeholder="Search for products..."
                @oninput="args => SearchDatabase(args)" @bind-value="_nameFilter">
        </span>
        <button class="button blue" @onclick="ToggleBasket">Basket</button>
    </nav>

    <div class="page">
        <div class="center">
            <div class="title">
                <h1>Blazor Products Shop Inc.</h1>
                @if (_nameFilter != "" && _nameFilter != null)
                {
                    <span>Results for: @_nameFilter</span>
                }
            </div>



            @if (_products.Count > 0)
            {
                <div class="shop-grid">
                    @foreach (Product product in _products)
                    {
                        <div class="shop-item">
                            <p>
                                <span class="name">@product.Name</span>
                                <span class="price">@($"£{product.Price.ToString("0.00")}")</span>
                            </p>
                            @if (product.Description != "")
                            {
                                <p class="desc">@product.Description</p>
                            }

                            <button class="button blue" @onclick="() => AddToBasket(product)">Add To Basket</button>
                        </div>
                    }
                </div>

                <label for="add-amount">Amount to add: </label> <input type="number" id="add-amount"
                @bind-value="_newItemAmount" min="1">
            }
            else
            {
                <p>No products found. Maybe try searching for something else?</p>
            }
        </div>

        <div class="basket @_basketCss">
            <h1>Basket</h1>

            <p>Total price: @_basket.TotalPrice</p>

            <ul>
                @foreach (BasketItem item in _basketItems)
                {
                    <li>
                        <span>(@item.Quantity) @item.Product.Name | </span>
                        @if (item.Product.Description != "")
                        {
                            <span>@item.Product.Description | </span>
                        }
                        <span>@($"£{item.Product.Price.ToString("0.00")}") | </span>

                        @if (item.Quantity < 2)
                        {
                            <button @onclick="() => RemoveFromBasket(item)">Remove</button>
                        }
                        else
                        {
                            <button @onclick="() => RemoveFromBasket(item)">Remove All</button>

                            <button @onclick="() => RemoveAmount(item, item.RemoveAmount)">Remove </button>
                            <input type="number" min="1" max="@item.Quantity" @bind-value="item.RemoveAmount">
                        }
                    </li>
                }
            </ul>
        </div>
    </div>


</main>
